a {
    font-family: sans-serif;
}
p {
    font-family: sans-serif;
}
h1 {
    font-family: sans-serif;
}
h2 {
    font-family: sans-serif;
}
#next {
    background-color: #7bd806;
  cursor: pointer;
}
img {
    width=50%;
}